In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# read in nfbc adp 2017 data
nfbc_adp_2018 = pd.read_csv("C:/Users/avitosky/Documents/Baseball Project/nfbc_adp_2018.csv")

In [3]:
nfbc_adp_2018.head()

,Rank,Player,Team,Position(s),ADP,Min Pick,Max Pick,Difference,# Picks,Team.1,Team Pick
0,1,"Trout, Mike",LAA,OF,1.07,1,2,NaN,81,NaN,NaN
1,2,"Altuve, Jose",HOU,2B,2.14,1,4,NaN,81,NaN,NaN
2,3,"Goldschmidt, Paul",ARZ,1B,4.30,2,7,NaN,81,NaN,NaN
3,4,"Turner, Trea",WAS,SS,5.17,2,12,NaN,81,NaN,NaN
4,5,"Arenado, Nolan",COL,3B,5.36,2,12,NaN,81,NaN,NaN

In [4]:
nfbc_adp_2018['Last_Name'], nfbc_adp_2018['First_Name'] = nfbc_adp_2018['Player'].str.split(',',1).str
nfbc_adp_2018['Player_Name'] = nfbc_adp_2018['First_Name'].map(str) + ' ' + nfbc_adp_2018['Last_Name']

In [5]:
nfbc_adp_2018.head()

,Rank,Player,Team,Position(s),ADP,Min Pick,Max Pick,Difference,# Picks,Team.1,Team Pick,Last_Name,First_Name,Player_Name
0,1,"Trout, Mike",LAA,OF,1.07,1,2,NaN,81,NaN,NaN,Trout,Mike,Mike Trout
1,2,"Altuve, Jose",HOU,2B,2.14,1,4,NaN,81,NaN,NaN,Altuve,Jose,Jose Altuve
2,3,"Goldschmidt, Paul",ARZ,1B,4.30,2,7,NaN,81,NaN,NaN,Goldschmidt,Paul,Paul Goldschmidt
3,4,"Turner, Trea",WAS,SS,5.17,2,12,NaN,81,NaN,NaN,Turner,Trea,Trea Turner
4,5,"Arenado, Nolan",COL,3B,5.36,2,12,NaN,81,NaN,NaN,Arenado,Nolan,Nolan Arenado

In [6]:
nfbc_adp_2018 = nfbc_adp_2018[['Rank', 'Player_Name', 'Team', 'Position(s)', 'ADP', 'Min Pick', 'Max Pick']]

In [7]:
nfbc_adp_2018.head()

   Rank        Player_Name Team Position(s)   ADP  Min Pick  Max Pick
0     1         Mike Trout  LAA          OF  1.07         1         2
1     2        Jose Altuve  HOU          2B  2.14         1         4
2     3   Paul Goldschmidt  ARZ          1B  4.30         2         7
3     4        Trea Turner  WAS          SS  5.17         2        12
4     5      Nolan Arenado  COL          3B  5.36         2        12

In [8]:
# read in hitting_breakouts_2018_v1 list (top 50%)
hitting_breakouts_2018_v1 = pd.read_csv("C:/Users/avitosky/Documents/Baseball Project/hitting_breakouts_2018_v1.csv", index_col=0)

In [22]:
hitting_breakouts_2018_v1.sort_values(by='xwOBA', ascending=False)

           Player_Name   PA  xwOBA   wOBA    OBP  Exit_Velocity     HR/PA
249      Jose Martinez  307  0.411  0.379  0.379           84.5  0.045603
369       Rhys Hoskins  212  0.399  0.417  0.396           83.6  0.084906
316         Matt Olson  216  0.380  0.411  0.352           85.4  0.111111
324   Michael Conforto  440  0.376  0.392  0.384           83.8  0.061364
263        Justin Bour  429  0.374  0.374  0.366           83.1  0.058275
220       Jesse Winker  137  0.350  0.384  0.375           83.1  0.051095
330        Miguel Sano  483  0.348  0.361  0.352           85.4  0.057971
376  Robinson Chirinos  309  0.334  0.369  0.360           83.4  0.055016

In [10]:
# strip out any extra white space in Player_Name column before continuing
nfbc_adp_2018['Player_Name'] = nfbc_adp_2018['Player_Name'].str.strip()
hitting_breakouts_2018_v1['Player_Name'] = hitting_breakouts_2018_v1['Player_Name'].str.strip()

In [11]:
# before we merge datasets and since this is dataset is different from statcast, let's see if we have any name mismatches
hitting_breakouts_2018_v1[(~hitting_breakouts_2018_v1.Player_Name.isin(nfbc_adp_2018.Player_Name))]

Empty DataFrame
Columns: [Player_Name, PA, xwOBA, wOBA, OBP, Exit_Velocity, HR/PA]
Index: []

In [12]:
# merge datasets on Player_Name
common_2018_v1 = pd.merge(nfbc_adp_2018, hitting_breakouts_2018_v1, on='Player_Name')

In [24]:
# show our merged dataset
common_2018_v1.sort_values(by='ADP')

,Rank,Player_Name,Team,Position(s),ADP,Min Pick,Max Pick,PA,xwOBA,wOBA,OBP,Exit_Velocity,HR/PA
0,48,Rhys Hoskins,PHI,"1B, OF",50.94,31,79,212,0.399,0.417,0.396,83.6,0.084906
1,91,Miguel Sano,MIN,3B,97.54,63,182,483,0.348,0.361,0.352,85.4,0.057971
2,122,Matt Olson,OAK,1B,120.61,71,164,216,0.380,0.411,0.352,85.4,0.111111
3,164,Michael Conforto,NYM,OF,170.00,59,279,440,0.376,0.392,0.384,83.8,0.061364
4,190,Justin Bour,MIA,1B,191.88,117,282,429,0.374,0.374,0.366,83.1,0.058275
5,262,Robinson Chirinos,TEX,C,267.19,201,330,309,0.334,0.369,0.360,83.4,0.055016
6,273,Jose Martinez,STL,"1B, OF",278.88,218,420,307,0.411,0.379,0.379,84.5,0.045603
7,320,Jesse Winker,CIN,OF,323.79,232,500,137,0.350,0.384,0.375,83.1,0.051095

In our even more refined breakout list, all of these players could be significant contributors given their hitting profile combined with their expected playing time for the 2018 season.

In [14]:
# finally let's look at our Launch_Speed top 25% group that didn't make the breakout list
hitting_breakouts_2018_exit_velocity = pd.read_csv("C:/Users/avitosky/Documents/Baseball Project/hitting_breakouts_2018_exit_velocity.csv", index_col=0)

In [25]:
# if you believe that Launch_Angle can be fixed (I do) then perhaps pay attention to this group as well
hitting_breakouts_2018_exit_velocity.sort_values(by='Exit_Velocity', ascending=False)

           Player_Name   PA  xwOBA   wOBA    OBP  Exit_Velocity     HR/PA
443         Yandy Diaz  179  0.331  0.306  0.352           87.1  0.000000
23          Alex Avila  376  0.401  0.362  0.387           86.4  0.037234
287     Logan Forsythe  439  0.329  0.307  0.351           84.0  0.013667
219  Jeimer Candelario  142  0.316  0.342  0.359           83.8  0.021127
323   Michael Brantley  375  0.344  0.342  0.357           83.8  0.024000
41       Austin Barnes  262  0.370  0.386  0.408           83.4  0.030534

In [18]:
# strip whitespace out again
hitting_breakouts_2018_exit_velocity['Player_Name'] = hitting_breakouts_2018_exit_velocity['Player_Name'].str.strip()

In [19]:
# no name mismatches
hitting_breakouts_2018_exit_velocity[(~hitting_breakouts_2018_exit_velocity.Player_Name.isin(nfbc_adp_2018.Player_Name))]

Empty DataFrame
Columns: [Player_Name, PA, xwOBA, wOBA, OBP, Exit_Velocity, HR/PA]
Index: []

In [20]:
# merge datasets on Player_Name
common_2018_v3 = pd.merge(nfbc_adp_2018, hitting_breakouts_2018_exit_velocity, on='Player_Name')

In [26]:
common_2018_v3.sort_values(by='ADP')

,Rank,Player_Name,Team,Position(s),ADP,Min Pick,Max Pick,PA,xwOBA,wOBA,OBP,Exit_Velocity,HR/PA
0,182,Austin Barnes,LAD,"C, 2B",186.50,137,291,262,0.370,0.386,0.408,83.4,0.030534
1,247,Michael Brantley,CLE,OF,250.83,163,372,375,0.344,0.342,0.357,83.8,0.024000
2,337,Jeimer Candelario,DET,3B,337.45,189,451,142,0.316,0.342,0.359,83.8,0.021127
3,418,Alex Avila,ARZ,C,418.61,203,520,376,0.401,0.362,0.387,86.4,0.037234
4,429,Logan Forsythe,LAD,"2B, 3B",427.50,328,531,439,0.329,0.307,0.351,84.0,0.013667
5,489,Yandy Diaz,CLE,3B,488.95,285,619,179,0.331,0.306,0.352,87.1,0.000000

Forsythe and Avila are both aging and never had much power to begin with. Brantley's continued shoulder problems will likely continue to plague him for the 2018 season but Barnes, Candelario, and Diaz are all interesting in their own right. I will definitely make a mental note to follow their progress in spring training and buy if the showed continued improvement.